.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#map-canvas {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.map-controls {
  width: 250px;
  position: absolute;
  background-color: white;
  top: 5%;
  left: 10px;
  z-index: 5;
  padding: 8px;
  padding-bottom: 16px;
}

.year-instruction {
  font-size: 12px;
}

#legendGradient {
  height: 12px;
  width: 90%;
  margin-right: auto;
  margin-bottom: 12px;
}
